
    <div class="row">
      <div class="col-3 col-md-4 bg-white">
        <%= render "browse/matches" %>
      </div>
      <div class="col-9 col-md-8">
        <ul id="slides">
          <% @users.each_with_index do |user, i| %>
          <li class="slide <%= 'showing' if i == 0 %>" data-id="<%= user.id %>">
            <div class="image-carousel" style="background-image: url('<%= url_for user.image.first %>')">
            </div>
          <div class="user-details">
            <span class="user-name"><%= user.first_name %></span>, 31<br />
            <i class="fa fa-graduation-cap"></i> Job /Studies<br />
            <i class="fa fa-map-marker mx-1"></i> Location<br />

          </div>
          </li>
        <% end %>
        </ul>

        <div id="slide-controls">
          <span id="decline"><i class="fa fa-times-circle fa-2x"></i></span>
          <span id="approve"><i class="fa fa-heart fa-2x" ></i></span>
        </div>
      </div>
    </div>
